:root {
  font-family: "Times New Roman", sans-serif; /* List is for redundancy*/
  /* color-scheme: dark; */
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  color: purple;
}
